* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Kodchasan', sans-serif;
  letter-spacing: 2px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#fcd04b), to(#cd9b03));
  background-image: linear-gradient(to top right, #fcd04b, #cd9b03);
  background-color: #fcd04b;
  height: 100vh;
  margin: 0;
}

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}

header .nav-menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 2px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F48024;
  border: 2px solid #000;
  -webkit-box-shadow: 5px 5px 2px rgba(180, 112, 56, 0.5);
          box-shadow: 5px 5px 2px rgba(180, 112, 56, 0.5);
  width: 100%;
  height: 55px;
  padding: 0 20px;
  margin: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media screen and (max-width: 920px) {
  header .nav-menus {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  header .nav-menus {
    display: none;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 104px;
    width: 100%;
    z-index: 2;
    top: 50px;
  }
}

header .nav-menus:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

@media screen and (max-width: 600px) {
  header .nav-menus:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

header .nav-menus ul {
  padding: 0;
  margin-right: -20px;
}

@media screen and (max-width: 920px) {
  header .nav-menus ul {
    margin-right: 20px;
  }
}

@media screen and (max-width: 600px) {
  header .nav-menus ul {
    margin: 0;
  }
}

header .nav-menus ul li {
  list-style: none;
  float: left;
  padding-right: 20px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  header .nav-menus ul li {
    float: none;
    display: block;
    text-align: center;
    padding: 2px;
  }
}

.nav-menu {
  display: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media screen and (max-width: 600px) {
  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin: 0 auto;
    height: 50px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    background: #fcd04b;
    -webkit-box-shadow: 2px 2px 10px 2px black;
            box-shadow: 2px 2px 10px 2px black;
    cursor: pointer;
  }
}

header .nav-menus ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  opacity: .5;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media screen and (max-width: 600px) {
  header .nav-menus ul li a {
    opacity: .5;
  }
  .nav-menu {
    display: block;
  }
}

header .nav-menus .nav-left li:nth-child(odd):hover a,
header .nav-menus .nav-right li:nth-child(even):hover a {
  display: inline-block;
  -webkit-transform: scale(1.3) rotate(4deg) translateX(-10px);
          transform: scale(1.3) rotate(4deg) translateX(-10px);
  border-radius: 2px;
  padding: 5px;
  background: #4D90FE;
  color: #fff;
  font-weight: bold;
  font-style: italic;
  opacity: 1;
  text-transform: capitalize;
}

@media screen and (max-width: 600px) {
  header .nav-menus .nav-left li:nth-child(odd):hover a,
  header .nav-menus .nav-right li:nth-child(even):hover a {
    -webkit-transform: none;
            transform: none;
    padding: 0;
    background: transparent;
    color: black;
    opacity: 1;
    border-bottom: 2px solid #326b0e;
  }
}

header .nav-menus .nav-left li:nth-child(even):hover a,
header .nav-menus .nav-right li:nth-child(odd):hover a {
  display: inline-block;
  -webkit-transform: scale(1.3) rotate(-4deg) translate(-1px, -1px);
          transform: scale(1.3) rotate(-4deg) translate(-1px, -1px);
  border-radius: 2px;
  padding: 5px;
  background: #4D90FE;
  color: #fff;
  opacity: 1;
  font-weight: 700;
  text-transform: capitalize;
}

@media screen and (max-width: 600px) {
  header .nav-menus .nav-left li:nth-child(even):hover a,
  header .nav-menus .nav-right li:nth-child(odd):hover a {
    -webkit-transform: none;
            transform: none;
    padding: 0;
    font-weight: normal;
    background: transparent;
    color: black;
    opacity: 1;
    border-bottom: 2px solid #326b0e;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  margin: auto;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 #0000002b;
          box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 #0000002b;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal-header {
  background-color: coral;
  padding: 20px;
}

.modal-header h2 {
  margin: 0;
  font-weight: 200;
}

.modal-body {
  padding: 10px 20px;
}

.modal-body .file-input-container {
  text-align: center;
}

.modal-body .file-input-container input[type="file"] {
  display: none;
}

.modal-body .file-input-container input[type=text] {
  outline: none;
  width: 80%;
  display: inline-block;
  background-color: white;
  background-position: 10px 10px;
  padding: 12px;
}

.modal-body .file-input-container input[type=text]:focus {
  background-color: lightblue;
}

.modal-body .file-input-container .file-input-upload {
  display: inline-block;
  width: 10%;
  text-align: center;
  font-size: 30px;
  margin-left: 5px;
  padding-top: 5px;
  cursor: pointer;
}

.modal-body .file-input-container .file-input-upload:hover {
  -webkit-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.5);
}

.modal-body .file-input-container .file-input-test {
  text-decoration: none;
  display: inline-block;
  margin-top: 5px;
  padding: 10px;
  background-color: #35ec37;
  color: #042f05;
  font-weight: bold;
  border-radius: 15%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.modal-body .file-input-container .file-input-test:hover,
.modal-body .file-input-container .file-input-test:active {
  background-color: #042f05;
  color: #35ec37;
  -webkit-box-shadow: 2px 2px 2px #35ec37;
          box-shadow: 2px 2px 2px #35ec37;
}

.modal-footer {
  background-color: coral;
  padding: 5px;
  text-align: center;
}

.modal-footer h3 {
  margin: 0;
  font-weight: 100;
  font-style: italic;
  opacity: .7;
}

.closeBtn {
  float: right;
  color: #fff;
  font-size: 23px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.closeBtn:hover, .closeBtn:focus {
  background: #f00;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.page-spinner {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10000;
}

.page-spinner:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-top: 2px solid coral;
  border-right: 2px solid transparent;
  border-radius: 50%;
  -webkit-animation: spin .7s linear infinite;
          animation: spin .7s linear infinite;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.main-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: calc(100% - 55px);
      flex-basis: calc(100% - 55px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-trigger {
  cursor: pointer;
  display: block;
  position: relative;
  background: #fcad26;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  color: white;
  letter-spacing: 2px;
  padding: 25px 80px;
  margin: 0 auto;
  -webkit-box-shadow: 0 6px #efa424;
          box-shadow: 0 6px #efa424;
  border-radius: 20px;
  font-weight: bold;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.modal-trigger:hover {
  -webkit-box-shadow: 0 4px #efa424;
          box-shadow: 0 4px #efa424;
  font-weight: normal;
  top: 2px;
}

.modal-trigger:active {
  -webkit-box-shadow: 0 0 #efa424;
          box-shadow: 0 0 #efa424;
  top: 6px;
}

.backdrop {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
/*# sourceMappingURL=style.css.map */